apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
type: Opaque
stringData:
  # Replace these with actual values in production
  MONGO_URI: "mongodb://mongo:27017/e-commerce"
  JWT_SECRET: "changeme_secret_key"
  PORT: "8000"
